.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 2rem;
  padding: 2.5rem;
  font-weight: normal;
  font-size: 0.875rem;
  width: 100%;
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cartTotal {
  font-size: 1.125rem;
  font-weight: bold;
}

.clearCartButton {
  padding: 0.5rem 1rem;
  background-color: #1f2937;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clearCartButton:hover {
    background-color: #374151;
}

.clearCartButton:focus {
    outline: none;
    background-color: #374151;
}

.emptyCartMessage {
  font-size: 1.125rem;
  font-weight: bold;
}