.button {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px 12px;
    transition: all 0.25s ease;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 6px;
    text-align: center;
}

.button__light {  
    background-color: #FFFFFF;
    color: #000000;
}

.button__light__disabled {
    opacity: 0.25;
    pointer-events: none;
    transition: all 0.25s ease;
}

.button__dark {
    background-color: #000000;
    color: #FFFFFF; 
}

.button__dark__disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: all 0.25s ease;
}

.buttonIcon {
    height: 20px;
    width: 20px;
}

.buttonText {
    /* padding-left: 8px; */
    font-size: 14px;
    line-height: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}