
.quantityActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 125px;
}

.quantityButton {
  padding: 0.5rem 1rem;
  background-color: #1f2937;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.quantityButton:hover {
  background-color: #374151;
}

.quantity {
  font-weight: bold;
  padding: 0 8px;
  color: #000000;
}