.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.bannerImage {
    object-fit: cover;
}
