.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    top: 0;
    z-index: 1000;
    /* hardcoded cause no scss in nextjs */
    height: 70px;
}

.navLinks{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Navbar links */
.navbar .navItem {
  color: #ccc; /* subtle base color */
  text-decoration: none;
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #fff; /* bright on hover */
}