.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    top: 0;
    z-index: 1000;
    /* hardcoded cause no scss in nextjs */
    height: 70px;
}

.navLinks{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navItem{
    color: white;
    text-decoration: none;
}

.navItem:hover{
    color: #0070f3;
    text-decoration: underline;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}