.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    top: 0;
    z-index: 1000;
}

.navLinks{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navItem{
    color: white;
    text-decoration: none;
}

.navItem:hover{
    color: #0070f3;
    text-decoration: underline;
}

/* .navItem:active{
    color: #005bb5;
}

.navItem:visited{
    color: #005bb5;
}

.navItem:focus{
    color: #0070f3;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.5);
    text-decoration: underline;
} */

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* 
.loginButton{
    background-color: #0070f3;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.loginButton:hover{
    background-color: #005bb5;
} */