.container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}
.banner {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.imageContainer {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 24px 0px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.bannerImage {
    object-fit: cover;
}

.bannerTitle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.bannerDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
    max-width: 600px;
    text-align: center;
}

.shopNowBannerButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.shopNowBannerButton:hover {
    background-color: #005bb5;
}