.typography {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

/* Variant styles */
.typography--header {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}

.typography--subheader {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}

.typography--body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

  