.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.productItem:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productImageContainer {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.productImage {
    object-fit: cover;

}

.productTitle {
    font-size: 1.2em;
    margin: 10px 0;
    height: 48px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.productPrice {
    font-size: 1.1em;
    color: #333;
    margin: 10px 0;
}